{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "endOfLine": "lf",
  "printWidth": 150,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": true,
        "printWidth": 150
      }
    }
  ]
}
